# Bioinformatics and the Linux Terminal

A list of example files to start using the Linux Command Line interface (CLI). 
Originally prepared for [Bash for Bioinformatics](https://seq.space/notes/doku.php?id=bash-beginners) training

## Bash tutorial

See the [Wiki](https://github.com/telatin/learn_bash/wiki) in this repository.


## History

{history.txt}

## Files in the repository

{content}
