# Bioinformatics and the Linux Terminal


## What it is

A list of example files to start using the Linux Command Line interface (CLI). Originally prepared for [Bash for Bioinformatics](https://seq.space/notes/doku.php?id=bash-beginners) training


## History

{history.txt}

## Content

{content}
